:root{
  --bgcolor: #f1f1f1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--bgcolor);
}

/* ESTILOS DEL HEADER */
.header{
  text-align: center;
  opacity: .7;
  font-weight: lighter;
}

/* ESTILOS DEL FORMULARIO */

.form{
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.buttons-container{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-group-one{
  flex-direction: column;
}

.form-label{
  margin-bottom: 3px;
}

.form-input{
  background-color: var(--bgcolor);
}

.form-input,
.form-submit{
  padding: .7rem;
  border: none;
  border-radius: 3px;
  outline: none;
}

.form-submit{
  background-color: #0d6efd;
  color: var(--bgcolor);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}


.error{
  width: auto;
  position: absolute;
  top: -72px;
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  display: block;
}

.fadein{
  animation: fadein .6s ease;
}

@keyframes fadein{
  0%{
    transform: translateX(-200px);
  }

  100%{
    transform: translateX(0);
  }
}