:root{
  --bgcolor: #f1f1f1;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--bgcolor);
}

/* ESTILOS AL CONTENEDOR PRINCIPAL */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ESTILOS DEL HEADER */


header{
  text-align: center;
  opacity: .7;
  font-weight: lighter;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
  margin-top: 3rem;
}

/* ESTILOS DEL FORMULARIO */
.form-container{
  margin-bottom: 3rem;
}

.form{
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.buttons-container{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-group-one{
  flex-direction: column;
}

.form-label{
  margin-bottom: 3px;
}

.form-input{
  background-color: var(--bgcolor);
  border: 1px solid #0d6efd;
}

.form-input,
.form-submit{
  padding: .7rem;
  border-radius: 3px;
  outline: none;
}

.form-submit{
  background-color: #0d6efd;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}


.error{
  display: block;
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}

.error-input{
  border: 1px solid red;
}

.success-input{
  border: 1px solid green;
}

.fadein{
  animation: fadein .6s ease;
}

@keyframes fadein{
  0%{
    transform: translateX(-200px);
  }

  100%{
    transform: translateX(0);
  }
}